.hero {
  /*CSS files are processed by Webpack, which tries to resolve url() paths relative to the CSS file’s location inside src/. That's why /images/... from the public/ folder doesn't work*/
  background-image: url('./assets/dinolog_herosection-bg1.jpg');
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center;
  color: #fff;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.discover-btn {
  background-color: #6b8e23;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}
.map-section {
  padding: 4rem 2rem;
  background-color: #f0e8d9;
  text-align: center;
}
.map-placeholder {
  height: 80vh;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-style: italic;
}
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #e0d6c3;
  border-top: 2px solid #c2b59b;
  font-size: 0.9rem;
}