body {
  margin: 0;
  font-family: 'IBM Plex Sans', serif;
  background-color: #f5f0e6;
  color: #3e3a33;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: inherit;
  cursor: pointer;
}
