.header {
  width: 100%;
  height: 3.5em;
  background: 
    linear-gradient(rgba(221, 207, 180, 0.267), rgba(194, 171, 128, 0.63)),
    url('../assets/black-paper.png');
  background-size: 300px;
  border-bottom: 1px solid rgba(80, 70, 55, 0.25);
  box-shadow: 0 12px 25px rgba(146, 125, 79, 0.753);
  position: relative;
  z-index: 2;
}
.header_container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo .logo-link {
  display: flex;
  align-items: center;
}
.header-logo:hover {
  scale: calc(1.2);
}
.logo-img {
  height: 42px;
  width: auto;
  margin-right: 0.5rem;
  object-fit: contain;
}
.header-discoveries-link {
  color: #3e3a33;
  text-decoration: none;
  font-weight: 600;
  margin-right: 1rem;
  transition: color 0.2s ease-in-out;
}

.header-discoveries-link:hover {
  color: #7a6b54;
  scale: calc(1.2);
}
.header-nav a {
  color: #3e3a33;
  text-decoration: none;
  font-weight: 600;
  margin: 0 1rem;
  transition: color 0.2s ease-in-out;
}
.header-nav a:hover {
  color: #7a6b54;
}
.header-user {
  display: flex;
  align-items: center;
}
.header-login-btn {
  background-color: transparent;
  color: #3e3a33;
  border: 1px solid #81775c;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.header-login-btn:hover {
  background-color: #d8c79b;
  color: #2e2e2e;
}
.user-menu {
  position: relative;
  margin-left: 1.8rem;
  display: flex;
  align-items: center;
}
.user-avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #d8c79b;
}
.user-avatar:hover {
  scale: calc(2.1);
}
.user-name {
  margin-left: 1rem;
  font-size: 1rem;
  color: #3e3a33;
  font-style: oblique;
  text-shadow: 
    1px 1px 2px rgba(173, 127, 49, 0.466),
    0 0 1px rgba(0, 0, 0, 0.15);
}
.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 48px;
  background: rgba(46, 46, 46, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  overflow: hidden;
  min-width: 140px;
}
.user-menu:hover .dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown a,
.dropdown button {
  color: #f5f2ec;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  text-align: left;
  font-size: 0.95rem;
  cursor: pointer;
}
.dropdown a:hover,
.dropdown button:hover {
  background-color: rgba(216, 199, 155, 0.1);
}