.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  /*CSS files are processed by Webpack, which tries to resolve url() paths relative to the CSS file’s location inside src/. That's why /images/... from the public/ folder doesn't work*/
  background-image: url('../assets/dinolog_herosection-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f5f2ec;
  overflow: hidden;
}
/* Vignette around edges */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Gradient overlay to improve readability */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(132, 199, 243, 0.445) 0%,
    rgba(229, 209, 188, 0.425) 50%,
    rgba(124, 111, 74, 0.719) 100%
  );
  z-index: 1;
}
/* Foreground content */
.hero-content {
  position: absolute;
  top: 12vh;
  z-index: 2;
  max-width: 700px;
  padding: 2rem;
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  animation: heroFade 1s ease-out forwards;
}
@keyframes heroFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-title {
  font-size: 6rem;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0 0 1rem;
  letter-spacing: -0.02em;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.hero-subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 5rem;
  color: #2e2e2ee1;
  letter-spacing: 0.03em;
}
/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.hero-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Courier Prime", monospace;
  color: #39393b;
  background-color: #e2d3a8; /* parchment tone */
  background-image: url('../assets/black-paper.png');
  background-size: 250px;
  background-blend-mode:luminosity;
  border: 1px solid #2c2c2c;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  box-shadow: 1px 1px 0 #9c8d7a;
  text-shadow:
    0.5px 0.5px 0 rgba(0,0,0,0.25),  
    -0.5px -0.5px 0 rgba(255,255,255,0.5);
   transition: transform 150ms ease, box-shadow 150ms ease, color 180ms ease, text-shadow 180ms ease;
}
.hero-btn:hover {
  background-color: #d8c79b;
  transform: translateY(-2px) translateX(-0.3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.16);
  color: rgba(43, 43, 43, 0.65);
  text-shadow:
    0.5px 0.5px 0 rgba(0,0,0,0.15),    /* softer bleed */
    -0.5px -0.5px 0 rgba(255,255,255,0.4); /* lighter indentation */
}


/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
  .hero-buttons {
    flex-direction: column;
    gap: 2rem;
  }
}